@using SoftwareHouseManagement.Helpers
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap HTML5 Admin Template : Master</title>
    <!-- Bootstrap Styles-->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="~/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><strong>Software House</strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
    <!--/. NAV TOP  -->

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li class="@Html.IsSelected(actions: "Index", controllers: "Home")">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="@Html.IsSelected(actions: "Test3", controllers: "Admin")">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Test3"><i class="fa fa-calendar"></i> Logowanie czasu pracy</a>
                    </li>
                    <li class="@Html.IsSelected(actions: "WorkerAdd", controllers: "Workers")">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Workers" asp-action="WorkerAdd"><i class="fa fa-user"></i> Dodawanie pracowników</a>
                    </li>
                    <li class="@Html.IsSelected(actions: "Teams", controllers: "Admin")">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Teams"><i class="fa fa-users"></i>Zespoły/zlecenia</a>
                    </li>

                    <li class="@Html.IsSelected(actions: "Positions", controllers: "Positions")">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Positions" asp-action="Positions"><i class="fa fa-edit"></i>Zarządzanie stanowiskami</a>
                    </li>
                    <li class="@Html.IsSelected(actions: "AssignComputer", controllers: "Admin")">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AssignComputer"><i class="fa fa-desktop"></i> Zarządzanie komputerami</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index"><i class="fa fa-download"></i> CSV za ostatni miesiąc</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="header">
                @Html.BuildBreadcrumbNavigation()
                <div class="container">
                    @RenderBody()
                </div>

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="~/assets/js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
<script src="~/assets/js/custom-scripts.js"></script>


</body >
</html >
