@using SoftwareHouseManagement.Helpers
@using Microsoft.AspNetCore.Identity
@using SoftwareHouseManagement.Models.Entities
@inject SignInManager<Worker> _signInManager
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Software House Management</title>
    <!-- Bootstrap Styles-->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="~/assets/css/custom-styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><strong>Software House</strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            @Html.ActionLink("Logout", "Logout", "Workers", new { })
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    @if (_signInManager.IsSignedIn(User) && User.IsInRole("Client"))
                    {
                        <li class="@Html.IsSelected(actions: "AddTask", controllers: "Client")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="AddTask"><i class="fa fa-dashboard"></i> Nowe zlecenie</a>
                        </li>
                    }
                    @if ((_signInManager.IsSignedIn(User) && User.IsInRole("Worker"))^(_signInManager.IsSignedIn(User) && User.IsInRole("Admin")))
                    {
                        <li class="@Html.IsSelected(actions: "Dashboard", controllers: "Workers")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Workers" asp-action="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li class="@Html.IsSelected(actions: "LoginTime", controllers: "Workers")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Workers" asp-action="LoginTime"><i class="fa fa-calendar"></i> Logowanie czasu pracy</a>
                        </li>
                    }
                    @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="@Html.IsSelected(actions: "WorkerAdd", controllers: "Workers")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Workers" asp-action="WorkerAdd"><i class="fa fa-user"></i> Dodawanie pracowników</a>
                        </li>
                        <li class="@Html.IsSelected(actions: "Teams", controllers: "Teams")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Teams" asp-action="Teams"><i class="fa fa-users"></i>Zespoły/zlecenia</a>
                        </li>

                        <li class="@Html.IsSelected(actions: "Positions", controllers: "Positions")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Positions" asp-action="Positions"><i class="fa fa-edit"></i>Zarządzanie stanowiskami</a>
                        </li>
                        <li class="@Html.IsSelected(actions: "Computers", controllers: "Computers")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Computers" asp-action="Computers"><i class="fa fa-desktop"></i> Zarządzanie komputerami</a>
                        </li>
                    }
                </ul>
            </div>
            `
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="header">
                @Html.BuildBreadcrumbNavigation()
                <div class="container">
                    @RenderBody()
                </div>

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="~/assets/js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="~/assets/js/custom-scripts.js"></script>
    @RenderSection("Scripts", false)


</body>
</html>
