@using SoftwareHouseManagement.Models.Entities
@using SoftwareHouseManagement.Helpers
@using Task = SoftwareHouseManagement.Models.Entities.Task
<div class="panel panel-default mt-5" style="width:auto">
    <div class="panel-heading">
        Zespoły
    </div>
    <div class="panel-body">
        <form>
            <table class="table">
                <tr>
                    <th>
                        Zespół
                    </th>
                    <th class="text-center">
                        Ilość członków
                    </th>
                    <th class="text-center">
                        Projekt
                    </th>
                    <th class="text-center">
                        Przypisane Godziny
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in (ViewBag.AssignedTeams as IEnumerable<Team>))
                {

                    <tr>
                        <td>
                            @item.Name     
                        </td>
                        <td class="text-center">
                            @item.MemberCount
                        </td>
                        <td class="text-center">
                            @item.Task.Subject
                        </td>
                        <td class="text-center">
                            @{
                                var timeSpan = TimeSpan.FromTicks(item.Task.AssignedHours);
                            }
                            @timeSpan.TimeStampConverter()
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Dostępy", "Accesses", new { teamId = item.Id })|
                            @Html.ActionLink("Członkowie", "Members", new { teamId = item.Id })|
                            @Html.ActionLink("Usuń", "Teams", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </form>
    </div>            

</div>

<div class="panel panel-default mt-5" style="width:auto">
    <div class="panel-heading">
        Dodaj nowy
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("TeamAssignTask", "Teams", FormMethod.Post, new { }))
        {


            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Drużyna</label>
                <div class="col-sm-10">
                    <select class="form-control form-control-sm" aria-label="Default select example" name="teamId">
                        <option selected>Wybierz drużynę</option>
                        @foreach (var item in (ViewBag.NotAssignedTeams as IEnumerable<Team>))
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Zlecenie</label>
                <div class="col-sm-10">
                    <select class="form-control form-control-sm" aria-label="Default select example" name="taskId">
                        <option selected>Wybierz zlecenie</option>
                        @foreach (var item in (ViewBag.NotAssignedTasks as IEnumerable<Task>))
                        {
                            <option value="@item.Id">@item.Subject</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Przypisane Godziny</label>
                <div class="col-sm-10">
                    <div class="col-sm-2" style="padding-left: 0px !important;">
                        <input class="form-control" type="number" min="0" step="1" placeholder="godziny" name="hours" />
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" type="number" min="0" max="59" step="1" placeholder="minuty" name="minutes" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </div>
            </div>
        }
    </div>
</div>
<div class="panel panel-default mt-5" style="width:auto">
    <div class="panel-heading">
        Dodaj pracownika do drużyny
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("TeamAssignWorker", "Teams", FormMethod.Post, new { }))
        {


            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Drużyna</label>
                <div class="col-sm-10">
                    <select class="form-control form-control-sm" aria-label="Default select example" name="teamId">
                        <option selected>Wybierz drużynę</option>
                        @foreach (var item in (ViewBag.AssignedTeams as IEnumerable<Team>))
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Pracownik</label>
                <div class="col-sm-10">
                    <select class="form-control form-control-sm" aria-label="Default select example" name="workerId">
                        <option selected>Wybierz pracownika</option>
                        @foreach (var item in (ViewBag.AllWorkers as IEnumerable<Worker>))
                        {
                            <option value="@item.Id">@item.FirstName @item.LastName - @item.Email</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </div>
            </div>
        }
    </div>
</div>
<div class="panel panel-default mt-5" style="width:auto">
    <div class="panel-heading">
        Dodaj nową drużynę
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("TeamAdd", "Teams", FormMethod.Post, new { }))
        {
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Drużyna</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Nazwa drużyny" name="name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </div>
            </div>
        }

    </div>

</div>