@model SoftwareHouseManagement.Models.Entities.Worker
@using SoftwareHouseManagement.Helpers
@using SoftwareHouseManagement.Models.Entities
@using Task = SoftwareHouseManagement.Models.Entities.Task

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default mt-5" style="width:auto">
            <div class="panel-heading">
                Użytkownik
            </div>

            <div class="panel-body">
                <form>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><b>Imię i nazwisko</b></div>
                                @Model.FirstName @Model.LastName
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="font-weight-bold"><b>Email</b></div>
                                @Model.Email
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="font-weight-bold"><b>Przypisany komputer</b></div>
                                @Model.Computer.Model

                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="font-weight-bold"><b>Pozycja</b></div>
                                @Model.Position.Name
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="font-weight-bold"><b>Stawka godzinowa</b></div>
                                @Model.Position.Wage
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="font-weight-bold"><b>Godziny przepracowane w tym miesiącu</b></div>
                                @{
                                    var timeSpan = TimeSpan.FromTicks(Model.HoursWorked.Sum(x => x.Amount));
                                }
                                @timeSpan.TimeStampConverter()
                            </div>
                        </li>
                    </ol>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default mt-5" style="width:auto">
            <div class="panel-heading">
                Obecne projekty
            </div>

            <div class="panel-body">
                <form>
                    <table class="table">
                        <tr>
                            <th>
                                Temat projektu
                            </th>
                            <th>
                                Przypisane godziny
                            </th>
                            <th>
                                Przepracowane godziny
                            </th>
                        </tr>
                        @foreach (var item in Model.Teams)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Task.Subject)
                            </td>
                            <td class="text-center">
                                @{
                                    var timeSpanA = TimeSpan.FromTicks(item.Task.AssignedHours);
                                }
                                @timeSpanA.TimeStampConverter()
                            </td>
                            <td class="text-center">
                                @{
                                    var timeSpanW = TimeSpan.FromTicks(item.Task.WorkedHours);
                                }
                                @timeSpanW.TimeStampConverter()
                            </td>
                        </tr>
                        }
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default mt-5" style="width:auto">
    <div class="panel-heading">
        Twoje zespoły
    </div>

    <div class="panel-body">
        <form>
            <table class="table">
                <tr>
                    <th>
                        Zespół
                    </th>
                    <th>
                        Ilość członków
                    </th>
                    <th>
                        Projekt
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Teams)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.MemberCount
                        </td>
                        <td>
                            @item.Task.Subject
                        </td>
                        <td>
                            @Html.ActionLink("Dostępy", "TeamAccesses", new { teamId = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </form>
    </div>
</div>